<!DOCTYPE html>
<html>
<head>
   <title>Email verification</title>
</head>
<body>
   <h3>Title:Email verification </h3>
   <h4>Hello,<%=name%></h4> 
  <p>This is inform to you that this email is sent to you regaring your email verification.</p><br> 
 <p>To verify your emaild click the button below</p><br> 
  
<a href="<%=msg%>"><button>Verify</button></a>
</body>
 
</html>