<!DOCTYPE html>
<html>
<head>
   <title>Forgot password</title>
   <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
            />
</head>
<body>
   <h3>Title:Reset password link </h3>
   <h4>Hello,<%=name%></h4> 
  <p>This is inform to you that this email is sent to you regaring reset your password.</p><br> 
 <p>To reset your password click the button below</p><br> 
  
<a href="<%=msg%>"><button type="submit" class="btn btn-primary" >Reset</button></a>
</body>
 
</html>