<%- include('sidePanel'); -%>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
      <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
      <title>Home Page</title>
      
    </head>
    <body>
      <div style="margin-left:19%;margin-top:3%;margin-right:3%;">
       
        <img src="https://media.istockphoto.com/id/1284769795/photo/stock-photo-of-a-woman-buying-a-dress-online-with-the-phone-and-a-credit-card-from-the-sofa.jpg?s=612x612&w=0&k=20&c=7npyVArXWkTKGqVIsj0odmlj1y54itUeUqY0NlL-xKA=" height="550px" width="1050px">
      </div>
      
     
       
    </body>
  </html>