<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Product Form</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    </head>
    <body>
        <%- include('sidePanel'); -%>
            <div style="margin-left:19%;margin-top:3%;margin-right:3%;">
                <h2><%=title%></h2>
                    <div class="form-group">
                        <label for="product Name">ProductName:</label>
                        <input type="text" class="form-control" id="name"
                            placeholder="Enter product name" name="name">

                    </div>

                    <div class="form-group">
                        <label for="Price">Price:</label>
                        <input type="number" class="form-control" id="price"
                            placeholder="Enter product price" name="price">
                    </div>

                    <div class="form-group">
                        <label for=" product details">details:</label>
                        <input type="text" class="form-control" id="details"
                            placeholder="Enter product details" name="details">
                    </div>

                    <div class="form-group">
                        <label for="TotalQuantity">TotalQuantity:</label>
                        <input type="number" class="form-control"
                            id="totalQuantity"
                            placeholder="Enter quantity" name="totalQuantity">
                    </div>
                    <button type="submit" class="btn btn-primary" id="update">UPDATEPRODUCT</button>
                </div>
                <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script>
                     $(document).ready(function () {
                        load_data();
                            function load_data()
                            {
                                let URL = $(location).attr('href');
                                let id = URL.substring(URL.lastIndexOf('/') + 1);
                            $.ajax({
                                url:"http://localhost:2020/api/v1/product/"+id,
                            method:"get",
                            headers: {"authorization": localStorage.getItem('authorization')},
                            success:function(data){
                                $('input[name="name"]').val(data.data.name)
                                $('input[name="price"]').val(data.data.price)
                                $('input[name="details"]').val(data.data.details)
                                $('input[name="totalQuantity"]').val(data.data.totalQuantity)
                            }
                            });
                        }
                        $("#update").click(function () {
                            let URL = $(location).attr('href');
                            let id = URL.substring(URL.lastIndexOf('/') + 1);
                            $.ajax({
                            url:"http://localhost:2020/api/v1/admin/product/"+id,
                            method:"patch",
                            headers: {"authorization": localStorage.getItem('authorization')},
                            dataType: "json",
                            data: {
                                name: $("#name").val(),
                                price: $("#price").val(),
                                details: $("#details").val(),
                                totalQuantity: $("#totalQuantity").val(),
                            },
                            success: function (data) {
                                alert(data.message);
                                location.replace("/product/List")
                            }
                        });
                    });
                })
            </script>
            </body>
        </html>