<%- include('userDashboard'); -%>
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0">
            <title>profilepage</title>
            <link rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
            <link rel="stylesheet"
                href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
            <style>
          
        .gradient-custom {
/* fallback for old browsers#f6d365 */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

a {
  color:chocolate;
}
#active {
  background-color:brown;
  padding: 10px;
  color:chocolate;
  text-decoration: none;
}
#editBtn{
    margin-left: 180px;
}

    </style>
        </head>
        <body>
            <section class="vh-100" style="background-color: #f4f5f7;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center
                        align-items-center
                        h-100">
                        <div class="col col-lg-6 mb-4 mb-lg-0">
                            <div class="card mb-3" style="border-radius:
                                .5rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 gradient-custom
                                        text-center
                                        text-white" id="image"
                                        style="border-top-left-radius: .5rem;
                                        border-bottom-left-radius: .5rem;">
                                        <div class="img-fluid my-5 ";style="
                                            border-radius: 50px;"
                                            id="profileImg"></div>
                                        <h5 style="color: black;" id="fullName"></h5><hr>
                                        <b><a href="/user/profilepage">My
                                                profile</a></b>
                                        <hr>
                                        <b><a id="active" href="#">Change
                                                password</a></b>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body p-4">
                                            <h6>Change Password</h6>
                                            <hr class="mt-0 mb-4">
                                            <div class="row pt-1">
                                                <div class="form-group">
                                                    <label for="password">current
                                                        Password:</label>
                                                    <input type="password"
                                                        class="form-control"
                                                        id="currentPassword"
                                                        placeholder="example@123"
                                                        name="currentPassword">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">password:</label>
                                                    <input type="password"
                                                        class="form-control"
                                                        id="password"
                                                        placeholder="example@123"
                                                        name="password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">confirm
                                                        Password:</label>
                                                    <input type="password"
                                                        class="form-control"
                                                        id="confirmPassword"
                                                        placeholder="example@123"
                                                        name="confirmPassword">
                                                </div>
                                            </div>
                                            <hr class="mt-0 mb-4">
                                            <div class="row pt-1">
                                                <div class="col-12">
                                                    <div id="editBtn">
                                                        <button type="submit"
                                                            class="btn
                                                            btn-primary
                                                            float-right"
                                                            id="submit">
                                                            save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script>
          $(document).ready(function(){
            load_data();
            function load_data()
            {
               $.ajax({
               url:'http://localhost:2020/api/v1/user',
               method:"get",
               headers: {"authorization": localStorage.getItem('authorization')},
               success:function(data){
                $('#fullName').append(data.data.fullName)
                $('#profileImg').append('<img src="/'+data.data.profileImg+'" height="100px" width="100px">')
               }
              });
            }
            $("#submit").click(function () {
                $.ajax({
                url:"http://localhost:2020/api/v1/auth/change-password",
                method:"patch",
                headers: {"authorization": localStorage.getItem('authorization')},
                dataType: "json",
                data: {
                    password: $("#password").val(),
                    confirmPassword: $("#confirmPassword").val()
                },
                success: function (data) {
                    alert("password change succesfully");
                    location.replace("/login")
                }
             });
           });
        });
      </script>
        </body>
    </html>